@using WOD.Domain.Models;
@using HelloMvcApp.Controllers;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Home Page";
}
@model WOD.WebUI.ViewModels.HomeViewModel;


<div class="wrapper">

	<div class="team-container" data-slick="{" infinite":false,"slidesToScroll":2,"variableWidth":true}">

		<button aria-label="Previous" type="button" class="slick-arrow slick-prev slick-disabled" aria-disabled="true" style="display: inline-block;"><i class="icon-arrow-long"></i></button>

		@foreach (var clubsLogos in Model.ClubsLogos)
		{
			<a target="_blank" href="#"> <img src="@clubsLogos.Link" alt="@clubsLogos.AlternativeName;" height="50"> </a>
		}

		<button aria-label="Next" type="button" class="slick-arrow slick-next" style="" aria-disabled="false"><i class="icon-arrow-long icon-180deg"></i></button>

	</div>
	
		<div class="news-container">
			<div class="news-info">
				
				@if (Model.ContainerNews.Count == 0)
				{
					<a news="blah" href="#"><h2><span>@Model.DefaultNews.Title</span></h2><img src="@Model.DefaultNews.Image" /></a>

				}
				else
				{

					<a news="blah" href="#"><h2><span>@Model.News.Title</span></h2><img src="@Model.News.Image" /></a>

				}

			</div>
			<form method="post" asp-antiforgery="true">
				@for (int i = 1; i <= Model.ContainerNews.Count; i++)
					{
						<input type="submit" value="@(i)">  <!--Нужно заставить заработать эти кнопки, чтобы в зависимости от нажатой кнопки (ее i-значения),
															в объект Model.News подставлялся ContainerNews[i], как указано в методе OnPost(). 															
															-->
					}
			</form>
		</div>
	
	<table class="EPLTable">
		<thead>
			<tr>
				<th scope="col">Position</th>
				<th scope="col">Club</th>
				<th scope="col">Points</th>
				<th scope="col">GD</th>
			</tr>
		</thead>
		<tbody>
			@for(int i=0; i<Model.FootballClubs.Count; i++)
			{							
			<tr>
				<th scope="row">@(i+1)</th>
				<td>@Model.FootballClubs[i].FullName</td>
				<td>@Model.FootballClubs[i].Points</td>
				<td>@Model.FootballClubs[i].GoalsDifference</td>
			</tr>
			}
		</tbody>
	</table>
</div>

