@using WOD.Domain.Models;
@using HelloMvcApp.Controllers;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Home Page";
}
@model WOD.WebUI.ViewModels.HomeViewModel;

<div class="wrapper">
	<table class="EPLTable">
		<thead>
			<tr>
				<th scope="col">Position</th>
				<th scope="col">Club</th>
				<th scope="col">Games</th>
				<th scope="col">Wins</th>
				<th scope="col">Loses</th>
				<th scope="col">Draws</th>
				<th scope="col">GS</th>
				<th scope="col">GM</th>
				<th scope="col">GD</th>
				<th scope="col">Points</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.FootballClubs.Count; i++)
			{
				<tr>
					<th scope="row">@(i + 1)</th>
					<td><img src="@Model.FootballClubs[i].Logo" /> @Model.FootballClubs[i].FullName</td>					
					<td>@Model.FootballClubs[i].Matches.Count</td>
					<td>@Model.FootballClubs[i].Wins</td>
					<td>@Model.FootballClubs[i].Loses</td>
					<td>@Model.FootballClubs[i].Draws</td>
					<td>@Model.FootballClubs[i].GoalsScored</td>
					<td>@Model.FootballClubs[i].GoalsMissed</td>
					<td>@Model.FootballClubs[i].GoalsDifference</td>					
					<td>@Model.FootballClubs[i].Points</td>
				</tr>
			}
		</tbody>
	</table>
</div>